/* -------------------------------------------- */
/* BASE STYLES */
/* -------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container-row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 100px 0;
}

.box {
  padding: 1%;
}

/* --- BUTTONS & ICONS --- */

.social-icon-small {
  font-size: 1.2em;
  margin: 20px 20px 10px 0px;
  padding: 5px;
}

.btn-full:link,
.btn-full:visited {
  font-size: 1em;
  text-decoration: none;
  font-weight: 500;
  background-color: #e84545;
  color: #ffffff;
  padding: 10px 23px;
  border-radius: 2px;
  border: 1px solid #e84545;
  transition: background-color 0.2s, border 0.2s;
  text-transform: uppercase;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf1a1a;
  border: 1px solid #cf1a1a;
}

/* -------------------------------------------- */
/* HEADER */
/* -------------------------------------------- */

header {
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  background-attachment: fixed;
}

.logo {
  height: 30px;
  width: auto;
  float: left;
  margin-top: 20px;
}

/* --- MAIN NAV --- */
.nav .row {
  padding: 30px;
}

.main-nav {
  float: right;
  list-style: none;
  padding-top: 25px;
  font-size: 1.2em;
}

.main-nav li {
  display: inline-block;
  font-size: 0.8em;
  margin-right: 30px;
}

.main-nav li:last-of-type {
  margin-right: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e84545;
}

/* --- HERO BOX --- */

h1 {
  font-family: "open sans", "arial", "sans-serif";
  font-size: 3.8em;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-text-box {
  width: 78%;
  height: auto;
  margin: auto;
  text-align: center;
  color: #ffffff;
  margin: 80px auto;
  padding-bottom: 50px;
}

.hero-text-box h2 {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.5em;
  margin-bottom: 50px;
}

/* -------------------------------------------- */
/* FEATURES */
/* -------------------------------------------- */

.feature-row {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
}

.feature-item {
  text-align: center;
  margin: 30px 0;
  width: 33%;
  display: inline-block;
}

.feature-icon {
  font-size: 3.2em;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  color: #e84545;
}

.feature-item h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 1.1em;
}

.feature-item p {
  font-size: 0.9em;
  width: 90%;
  margin: auto;
  padding: 0 5px;
}

/* -------------------------------------------- */
/* WORKS */
/* -------------------------------------------- */

.section-works {
  padding: 0;
}

.works-row {
  width: 100%;
}

.work-photo-container {
  float: left;
  width: 25%;
  position: relative;
}

.work-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.work-photo img {
  width: 100%;
  height: auto;
  transform: scale(1.1);
  opacity: 1;
}

.work-text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: transparent;
  background-color: transparent;
  transition: color 0.2s background-color 0.2s;
}

.work-text-overlay h2,
.work-text-overlay p {
  margin-bottom: 5px;
  font-size: 0.8em;
}

.overlay-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work-text-overlay:hover {
  color: #ffffff;
  background-color: rgba(232, 69, 69, 0.7);
}

/* -------------------------------------------- */
/* TEAM */
/* -------------------------------------------- */

.section-team {
  margin: 40px 15px;
}

.works-row {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.team-container {
  box-sizing: border-box;
  width: 24.6%;
  display: inline-block;
  padding: 0px 15px;
  margin: 10px auto;
}

.headshot {
  margin-bottom: 20px;
}

.headshot img {
  width: 100%;
}

.biography-icons {
  list-style: none;
}

.biography-icons li {
  display: inline-block;
}

.team-container h2 {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 7px;
}

.team-container h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #e84545;
  font-size: 0.7em;
  margin-bottom: 15px;
}

.team-container p {
  font-size: 0.8em;
  margin-bottom: 15px;
  line-height: 1.4em;
}

.section-team .social-icon-small {
  color: #a2a9ac;
  border-radius: 2px;
  border: 0.5px solid #e1e3e4;
}

/* -------------------------------------------- */
/* TESTIMONIALS */
/* -------------------------------------------- */
.section-slider {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0;
  /* max-width: 100rem; */
  height: 19rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #53354a;

  position: absolute;
  top: 0;
  width: 100%;
  transition: transform 1s;
}

.slider-image {
  display: block;
  margin: auto;
}

.slider-section img {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
}

.slider-testimonial {
  display: block;
  margin: 60px auto;
  width: 80%;
}

blockquote {
  font-family: "Cardo", "arial", sans-serif;
  font-style: italic;
  color: #fff;
  font-size: 1.7em;
  width: 80%;
  margin-bottom: 20px;
}

cite {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8em;
  font-family: "raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.dots {
  position: absolute;
  bottom: 15%;
  right: 23%;
  transform: translateX(-18%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-of-type {
  margin-right: 0;
}

.dots__dot--active {
  background-color: #fff;
  opacity: 1;
}

/* -------------------------------------------- */
/* DOWNLOAD */
/* -------------------------------------------- */

.section-download {
  display: inline-block;
  width: 100%;
  padding: 100px;
}

.download {
  text-align: center;
  margin: 20px auto;
}

.download h2 {
  font-weight: 400;
  font-size: 1.4em;
  margin-bottom: 15px;
}

.download h3 {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 50px;
}

.download .btn-full {
  padding: 10px 60px;
}

/* -------------------------------------------- */
/* FOOTER */
/* -------------------------------------------- */
.footer-content {
  background-color: #3a3e64;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.footer-item {
  display: inline-block;
  width: 33%;
  text-align: center;
  margin: 60px auto;
}

footer h2 {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #fff;
  margin-bottom: 15px;
}

footer address {
  font-style: normal;
}

.footer-icons {
  list-style: none;
}

.footer-icons li {
  display: inline-block;
  text-align: center;
}

footer .social-icon-small {
  color: #fff;
  border-radius: 2px;
  border: 0.5px solid #fff;
  margin-top: 0;
}

footer address,
.about p {
  font-size: 0.8em;
  color: #aeb5b9;
  line-height: 1.375em;
}

.about p {
  width: 90%;
  margin: 0 auto;
}

.footer-icons li:first-of-type {
  margin-left: 20px;
}

.copyright {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 40px;
  font-size: 0.8em;
  background-color: #313454;
  color: #aeb5b9;
  line-height: 1.5em;
}

.copyright span {
  color: #fff;
}
